<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @student.first_name + ' ' + @student.last_name %></title>
  </head>
  <body>
    <h1><%= @student.first_name + ' ' + @student.last_name %></h1>
  </body>
</html>
